@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@isDarkMode" />

<MudLayout>

  <MudAppBar Elevation="1" Dense="true">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" @onclick="@(()=>LeftDrawerToggle())" />

    <MudLink Href="/" Color="Color.Inherit" Style="font-size:1.5rem; font-weight: 600;">SaveHere</MudLink>

    <div style="margin-left: 0.5rem; margin-right: auto;">
      <SaveHere.Components.Utility.VersionViewer />
    </div>

    <MudToggleIconButton @bind-Toggled="isDarkMode" Icon="@Icons.Material.Filled.LightMode" Color="@Color.Inherit" ToggledIcon="@Icons.Material.Filled.DarkMode" ToggledColor="@Color.Inherit" />
    <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" @onclick="@(()=>RightDrawerToggle())" Edge="Edge.End" />
  </MudAppBar>

  <MudDrawer @bind-Open="isLeftDrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="10">
    <NavMenu />
  </MudDrawer>

  <MudMainContent>
    @Body
  </MudMainContent>

  <MudDrawer @bind-Open="isRightDrawerOpen" Anchor="Anchor.Right" ClipMode="DrawerClipMode.Always" Elevation="10">
    <NavMenu IsRightDrawer />
  </MudDrawer>

</MudLayout>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code {
  private bool isDarkMode = true;
  private bool isLeftDrawerOpen = true;
  private bool isRightDrawerOpen = true;

  private void LeftDrawerToggle()
  {
    isLeftDrawerOpen = !isLeftDrawerOpen;
  }

  private void RightDrawerToggle()
  {
    isRightDrawerOpen = !isRightDrawerOpen;
  }

}