@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />

<MudLayout>

  <MudAppBar Elevation="1" Dense="true">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
    <MudText Typo="Typo.h5" Class="mx-auto hover-link" Color="Color.Inherit" onclick="@NavigateToHome">SaveHere</MudText>
    <MudSwitch @bind-Value="@_isDarkMode" ThumbIcon="@(_isDarkMode? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)" ThumbIconColor="Color.Dark" Color="Color.Tertiary" LabelPosition="LabelPosition.End" Size="Size.Small">@(_isDarkMode ? "Dark" : "Light")</MudSwitch>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="#" Target="_blank" />
  </MudAppBar>

  <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
    <NavMenu />
  </MudDrawer>

  <MudMainContent Class="mt-16 pa-4">
    @Body
  </MudMainContent>

</MudLayout>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

<style>
  .hover-link {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

    .hover-link:hover {
      text-shadow: 0px 2px 5px rgba(0,0,0,0.3);
      color: var(--mud-palette-primary);
    }
</style>

@code {
  private bool _isDarkMode = true;
  private bool _drawerOpen = true;

  [Inject] private NavigationManager Navigation { get; set; } = default!;

  private void DrawerToggle()
  {
    _drawerOpen = !_drawerOpen;
  }

  private void NavigateToHome()
  {
    Navigation.NavigateTo("/");
  }

}